@font-face {
    font-family: "AR Bonnie";
    src: url("./fonts/ARBONNIE.ttf");
}

img {
  height: 10rem;
  border-radius: 50%;
}

h3 {
  font-family: AR Bonnie;
  font-size: 1.5rem;
  color: #1CB69F;
  margin-bottom: 5rem;
}

nav {
  margin: -1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #59C9F3;
}

nav ul {
  display: flex;

}

nav ul li {
  padding: 0 1rem;
  align-items: center;
}


.nav-link {
  color: #ffffff;
}

.area {
  margin: 10rem 0;
}

.icon {
  height: 8rem;
}

.container {
  margin: 2rem;
}

/*About Section*/

.about-section {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Skills Section*/

.skills-section {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/*Work section*/

.work-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  max-width: 10rem;
  margin: 2rem;
}

.work-item-words {
  margin-top: 1rem;
}

/*Contact Section*/

.contact-section {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contactthing {
  color: #07729B;
  text-decoration: none;
}
