@font-face {
  font-family: "AR Bonnie";
  src: url("./fonts/ARBONNIE.ttf");
}

img {
  border-radius: 50%;
}

nav {
  margin: -1rem -1rem 0 -1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #59C9F3;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 1rem;
  align-items: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.icon {
  height: 8rem;
}

.heading {
  font-family: AR Bonnie;
  font-size: 1.5rem;
  color: #1CB69F;
  margin: 0 0 1.5rem 2rem;
}

.area {
  padding: 3rem 1rem;
  margin: 0 -1rem;
}

/*About Section*/

.about-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.about-part {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  max-width: 20rem;
}

.image-rec {
  border-radius: 5%;
}

.description {
  font-size: 12px;
}


/*Skills Section*/

.skills {
  background: #B2C2C7;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.skills-part {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  max-width: 20rem;
}


/*Work section*/

.work {
  background: #B1F9E2;
}

.work-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  max-width: 10rem;
  margin: 2rem;
}

.work-item-words {
  margin-top: 1rem;
}


/*Contact Section*/

.contact {
  background: #95F2F8;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contact-part {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  max-width: 10rem;
}

.contactthing {
  color: #07729B;
  text-decoration: none;
}
