@font-face {
    font-family: "AR Bonnie";
    src: url("./fonts/ARBONNIE.ttf");
}

img {
  height: 10rem;
  border-radius: 50%;
}

h3 {
  font-family: AR Bonnie;
  font-size: 1.5rem;
  color: #1CB69F;
}

nav {
  margin: 0 -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;

}

nav ul li {
  padding: 0 1rem;
  align-items: center;
}

.nav-link {
  color: #1BABD2;
}

.area {
  margin: 5rem 0;
}

.icon {
  height: 8rem;
}
/*Work section*/

.work-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  max-width: 10rem;
  margin: 2rem;
}

.work-item-words {
  margin-top: 1rem;
}
